body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.profile-card {
    background-color: white;
    border-radius: 10px;
    padding: 20px 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.profile-image {
    border-radius: 10px;
    width: 80%;
    margin-bottom: 15px;
    background-color: rgb(232, 232, 232);
}

.name {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.bio {
    font-size: 14px;
    color: #666;
}

.social-icons-container {
    display: flex;
    justify-content: space-around;
}

.social-icons a {
    color: #007bff;
}

.social-icons {
    color: #007bff;
    font-size: 2rem;
    transition: all 0.3s ease 0s;
}

.social-icons:hover {
    transform: translateY(-5px);
}

i {
    background-color: transparent;
}
